@model AntoineBlog.Models.Comment
@{
    ViewBag.Title = "Delete";
}

<section id="hero" class="module-hero module-parallax module-overlay-dark-1" data-background="/Images/road-blg.png">
    <!-- HERO TEXT -->
    <div class="hero-caption">
        <div class="hero-text hero-t-align">
            <h1 class="hero-title m-t-70 m-b-0 ">Antoine's Journey</h1>
            <h3 class="hero-subtitle m-b-20">toward the world of software</h3>
        </div>
    </div>
    <!-- /HERO TEXT -->
</section>
<!-- /HERO -->
<main class="bcolor">
    <section class="container view-content">
        <h2>Delete comment for: <strong>@Model.Post.Title</strong></h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author.DisplayName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd>
                @Model.Created.DateTime.ToString("ddd, MMM dd, yyyy: HH:mm")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>
            <dd>
                @Html.Raw(Model.Body)
            </dd>
            @if (Model.Modified.HasValue)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Modified)
                </dt>
                <dd>
                    @Model.Modified.Value.DateTime.ToString("ddd, MMM dd, yyyy: HH:mm")
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </dt>
                <dd>
                    @Model.ModifiedBy
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.OriginalBody)
                </dt>
                <dd>
                    @Html.Raw(Model.OriginalBody)
                </dd>
            }
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="verify-contain col-md-offset-2 col-md-10">
                    @if (User.IsInRole("GuestAdmin"))
                    {
                        <button type="button" id="delete" class="btn btn-dark btn-round" disabled>Delete</button>
                    }
                    else
                    {
                        <button type="button" id="delete" class="btn btn-dark btn-round">Delete</button>
                    }
                    <div id="verify">
                        <p class="text-danger">Are you sure you want to permanently delete this comment?</p>
                        <input type="submit" value="Yes, delete" class="btn btn-dark btn-round pull-right" />
                    </div>
                </div>
                <div>
                    @Html.ActionLink("Back to Post", "Details", "Posts", new { slug = Model.Post.Slug }, null)
                </div>
            </div>
        }
    </section>
</main>
