@model AntoineBlog.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<section id="hero" class="module-hero module-parallax module-overlay-dark-1" data-background="/Images/road-blg.png">
    <!-- HERO TEXT -->
    <div class="hero-caption">
        <div class="hero-text hero-t-align">
            <h1 class="hero-title m-t-70 m-b-0 ">Antoine's Journey</h1>
            <h3 class="hero-subtitle m-b-20">toward the world of software</h3>
        </div>
    </div>
    <!-- /HERO TEXT -->
</section>
<!-- /HERO -->
<main class="bcolor">
    <div class="container view-content">
        <h2>@ViewBag.Title.</h2>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-round btn-dark" value="Email Link" />
                </div>
            </div>
        }
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
